<ion-grid>
  <ion-row *ngIf="currentSong">
    <ion-col class="ion-text-start">
      {{ currentSong ? parseTime(currentSong.currentTime) : '00:00' }}
    </ion-col>
    <ion-col class="ion-text-end">
      {{ currentSong ? parseTime(currentSong.duration) : '00:00' }}
    </ion-col>
  </ion-row>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-row class="ion-text-center">
    <ion-col size="1">
      <ion-buttons>
        <ion-button>
          <ion-icon name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="10">
      <ion-text color="primary" *ngIf="song; else noSong">
        {{ song.name }}
      </ion-text>
      <ng-template #noSong>
        <ion-text color="primary">
          A song has not been selected.
        </ion-text>
      </ng-template>
    </ion-col>
    <ion-col size="1">
      <ion-buttons>
        <ion-button
          (click)="play.emit()"
          *ngIf="song && !song.playing"
          [disabled]="!song.preview_url">
          <ion-icon name="play">
          </ion-icon>
        </ion-button>
        <ion-button
          (click)="pause.emit()"
          *ngIf="song && song.playing">
          <ion-icon name="pause"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>