<ion-header>
    <ion-toolbar>
    <!--
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    -->
        <ion-title>Authentication</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="login">
                <ion-icon name="log-in"></ion-icon>
                <ion-label>Log In</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="register">
                <ion-icon name="person-add"></ion-icon>
                <ion-label>Register</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>