<ion-content>
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/PlatziMusic.png" alt="Logo PlatziMusic">
  </figure>
  <ion-row class="ion-justify-content-center ion-padding">
    <form class="auth-form" [formGroup]="formGroup" (ngSubmit)="logIn()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          required
          autocomplete
          type="text"
          formControlName="email"
          placeholder="Enter your email.">
        </ion-input>
      </ion-item>
      <div class="ion-padding-start">
        <ng-container class="ion-padding" *ngFor="let error of validationMessages.email">
          <ion-text *ngIf="formGroup.get('email').hasError(error.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)" color="danger">
            <p>{{ error.message }}</p>
          </ion-text>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          required
          autocomplete
          type="password"
          formControlName="password"
          placeholder="Enter your password.">
        </ion-input>
        <ion-button
          slot="end"
          fill="clear"
          size="default"
          class="ion-align-self-end"
          (click)="hiddenToggle()">
          <ion-icon [name]="isShowedPassword ? 'eye-off': 'eye'"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="ion-padding-start">
        <ng-container class="ion-padding" *ngFor="let error of validationMessages.password">
          <ion-text *ngIf="formGroup.get('password').hasError(error.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)" color="danger">
            <p>{{ error.message }}</p>
          </ion-text>
        </ng-container>
      </div>
      <ion-button
        expand="full"
        shape="round"
        color="success"
        type="submit"
        [disabled]="formGroup.invalid">
        Log In
      </ion-button>
    </form>
  </ion-row>
</ion-content>
