<ion-header>
  <ion-toolbar>
    <ion-title>Platzi Music</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <app-artist-list 
    [slideOpts]="slideOpts"
    [artists]="artists"
    (selectedArtist)="showArtistSongs($event)">
  </app-artist-list>
  <app-album-list 
    [slideOpts]="slideOpts"
    [albums]="albums"
    (selectedAlbum)="showAlbumSongs($event)">
  </app-album-list>
  <app-song-list 
    [slideOpts]="slideOpts"
    [songs]="songs"
    (selectedSong)="showAlbumSongs($event)">
  </app-song-list>
</ion-content>
<ion-footer>
  <app-player
    [song]="song"
    [newTime]="newTime"
    [currentSong]="currentSong"
    (play)="play()"
    (pause)="pause()">
  </app-player>
</ion-footer>